# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini
angulardoc.json

# Recycle Bin used on file shares
$RECYCLE.BIN/
/node_modules

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

#ide
./vscode

#config
mysqlconfig.js
./build